<div class="col-md-3 d-flex flex-column flex-shrink-0 sidebar">
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a id="otvNav" href="{{ path('app_otv_index') }}" class="nav-link">OTV</a>
		</li>
		<li class="nav-item">
			<a id="mapNav" href="{{ path('app_map') }}" class="nav-link">Carte des OTV</a>
		</li>
		<li class="nav-item">
			<a id="usersNav" href="{{ path('app_user_index') }}" class="nav-link">Utilisateurs</a>
		</li>
		<li class="nav-item">
			<a id="profileNav" href="{{ path('app_profile_edit', {'id': app.user.id}) }}" class="nav-link">Mon compte</a>
		</li> 
		 <li class="nav-item mt-5">
            <a href="{{ path('app_otv_notice_pdf') }}" class="actionsButtons btn btn-m btn-outline-light ml-3" target="_blank">
                <i class="fa-solid fa-file-export"></i> Avis de passage
            </a>
        </li>
	</ul>
	 
</div>
