{{ form_start(form) }}
<div class="lign">
	<p class="label">Nom</p>
	{{ form_row(form.lastname, {
		'label': false,
		'attr': {
			'id': 'lastname',
			'placeholder': 'Nom',
		}}) }}
</div>
<div class="lign">
	<p class="label">Prénom</p>
	{{ form_row(form.firstname, {
		'label': false,
		'attr': {
			'id': 'firstname',
			'placeholder': 'Prénom',
		}})	}}
</div>
<div class="lign">
	<p class="label">Courriel</p>
	{{ form_row(form.email, {
		'label': false,
		'attr': {
			'id': 'email',
			'placeholder': 'Courriel',
		}})	}}
</div>

<div class="row d-flex justify-content-end align-items-center mt-4">
	<div class="col-auto">
		<button class="userBtn btn btn-outline-primary">{{ button_label|default('Save') }}</button>
	</div>
	<div class="col-auto">

		<a class="userBtn btn btn-outline-primary" href="{{ path('app_profile_editPassword', {'id': user.id}) }}">Changer de mot de passe</a>
	</div>
	{% if user.roles[0] != 'ROLE_ADMIN' and is_granted('ROLE_USER') %}
		<div class="col-auto mt-3">
			{{ include('user/_delete_form.html.twig') }}
		</div>
	{% endif %}
</div>

{{ form_end(form) }}

<script>
	$(".toggle-password").click(function () {
$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
input.attr("type", "text");
} else {
input.attr("type", "password");
}
});
</script>
