{{ form_start(form) }}

<div class="container">
	<div class="containerLeft">
		<div class="lign password-field">
			<p>Ancien mot de passe</p>
			{{ form_row(form.currentPassword, {
                'label': false,
                'attr': {
                    'class': 'password-input',
                    'id': 'currentPassword'
                }
            }) }}
			<span class="toggle-password">
				<i class="fa fa-fw fa-eye"></i>
			</span>
		</div>

		<div class="lign password-field">
			<p>Nouveau mot de passe</p>
			{{ form_row(form.newPassword.first, {
                'label': false,
                'attr': {
                    'class': 'password-input',
                    'id': 'newPassword'
                }
            }) }}
			<span class="toggle-password">
				<i class="fa fa-fw fa-eye"></i>
			</span>
		</div>

		<div class="lign password-field">
			<p>Confirmer le mot de passe</p>
			{{ form_row(form.newPassword.second, {
                'label': false,
                'attr': {
                    'class': 'password-input',
                    'id': 'confirmPassword'
                }
            }) }}
			<span class="toggle-password">
				<i class="fa fa-fw fa-eye"></i>
			</span>
		</div>
		<div class="mt-3"></div>

		<div class="row d-flex justify-content-end align-items-center mt-4">
			<div class="col-auto">
				<button class="userBtn btn btn-outline-primary">{{ button_label|default('Sauvegarder') }}</button>
			</div>
			<div class="col-auto">
				<a href="{{ path('app_otv_index') }}">
					<i class="fa-solid fa-arrow-left mr-2"></i>Retours à la liste des OTV</a>
			</div>

		</div>
	</div>
</div>

{{ form_end(form) }}
