<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Avis de passage</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				font-size: 12px;
			}
			.notice {
				padding: 5px;
				border-bottom: 1px dashed #ccc;
				height: 20%;
			}
			.logoPolice {
				max-width: 80px;
				height: auto;
				margin: 20px 0 0 50px;
			}
			.legendPolice {
				text-align: center;
				font-size: 14px;
				margin-top: 20px;
			}
			.comments {
				list-style: none;
				padding: 0;
				margin: 2px 0;
			}
			.comments li {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid #ccc;
			}
			.line {
				list-style: none;
				padding: 0;
				margin: 2px 0;
			}
			.pagebreak {
				page-break-after: always; /* Ajoute un saut de page après chaque quartier */
			}
			.container {
				width: 100%;
				border: 0;
				border-spacing: 0;
				border-collapse: collapse;
			}
			.container td {
				vertical-align: top;
			}

			.notice-logo,
			.notice-comments {
				width: 80%;
				border: 0;
				border-spacing: 0;
				border-collapse: collapse;
			}
			.notice-body {
				width: 100%;
			}
		</style>
	</head>
	<body>
		{% set currentDistrict = null %}
		{% set currentHeight = 0 %}
		<!-- Compteur pour suivre le nombre d'avis -->
		{% for district, OTVs in OTVsByDistrict %}
			{% if OTVs|length > 0 %}
				{% if currentDistrict is not null and currentDistrict != district %}
					<!-- Insérez un saut de page seulement si l'espace restant sur la page actuelle est insuffisant -->
					{% if currentHeight + OTVs|length * 300 > 1000 %}
						<div class="pagebreak"></div>
						{% set currentHeight = 0 %}
					{% endif %}
				{% endif %}
				{% set currentDistrict = district %}
				{% for otv in OTVs %}
					<!-- Mettez à jour la hauteur actuelle -->
					{% set currentHeight = currentHeight + 300 %}
					<div class="notice">
						<table class="container">
							<tr>
								<td class="notice-logo">
									<img src="{{ logoPolice }}" class="logoPolice" alt="Logo Police Municipale">
									<p class="legendPolice">Police Municipale de<br>Marcq-en-Baroeul</p>
								</td>
								<td class="notice-body">
									<h2>Avis de passage</h2>
									<p>
										Nom :
										<strong>{{ otv.residents.lastname }}
											{{ otv.residents.firstname }}</strong>
									</p>
									<p>
										Adresse :
										<strong>{{ otv.address.street }}
											{% if otv.address.streetNumber %}
												{{ otv.address.streetNumber }}
											{% endif %}
											{% if otv.address.additionnalStreetNumber %}
												{{ otv.address.additionnalStreetNumber }}
											{% endif %}
											{% if otv.address.additionalAddressInfo %}
												{{ otv.address.additionalAddressInfo }}
											{% endif %}
										</strong>
									</p>
									<p>
										Quartier :
										<strong>{{ district }}</strong>
									</p>
									<p>
										<strong>Agent :</strong>
										<ul class="line">
											<li></li>
										</ul>
									</p>
									<p>
										<strong>Date et heure de passage :</strong>
										<ul class="line">
											<li></li>
										</ul>
									</p>
								</td>
								<td class="notice-comments">
									<p>
										<strong>Observations:</strong>
									</p>
									<ul class="comments">
										{% for i in 1..4 %}
											<li></li>
										{% endfor %}
									</ul>
								</td>
							</tr>
						</table>
					</div>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</body>
</html>
