{% extends 'base.html.twig' %}

{% block title %}Avis de Passage
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div
			class="row g-3">
			<!-- Titre page -->
			<div class="d-flex justify-content-end">
				<div class="col-10 mt-5 text-left">
					<h1>Avis de passage</h1>
				</div>
			</div>
			<!-- Sidebar -->
			{{ include('_partials/_sidebar.html.twig') }}
			<!-- Contenu principal -->
			<div class="main-content card shadowBox col-md-10 ml-sm-auto p-4">
				<div
					class="row">
					<!-- Filtres -->
					<div class="filter-container mt-1 col-md-6">
						<label for="districtFilter" class="form-label">Filtrer par quartier</label>
						<select id="districtFilter" class="form-select form-select-sm">
							<option selected>Tous les quartiers</option>
							{% for district in districts %}
								<option>{{ district.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<!-- Avis de passage -->
				{% for district in districts %}
					<div class="card my-3">
						<div class="card-header">
							<h2 class="mb-0">Quartier:
								{{ district.name }}</h2>
						</div>
						<div class="card-body">
							{% for otv in OTVs %}
								{% if otv.residents.districts == district %}
									<div class="row notice mb-4">
										<div class="col-md-3 text-center">
										     <img src="{{ asset('assets/images/Logo_Police_Municipale__France_.webp') }}" class="img-fluid rounded policeLogo"  alt="Logo Police Municipale" >

										</div>
										<div class="col-md-9">
											<p>
												<strong>Nom:</strong>
												{{ otv.residents.lastname }}</p>
											<p>
												<strong>Prénom:</strong>
												{{ otv.residents.firstname }}</p>
											<p>
												<strong>Adresse:</strong>
												{{ otv.residents.street }}</p>
											
											<p>
												<strong>Commentaires:</strong>
											</p>
											<ul class="list-unstyled">
												{% for i in 1..5 %}
													<li class="py-1 border-bottom"></li>
												{% endfor %}
											</ul>
											
										</div>
										<hr>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{% block javascripts %}
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
		<script src="{{ asset('assets/js/tables.js') }}"></script>
	{% endblock %}
{% endblock %}
