{% extends 'base.html.twig' %}

{% block title %}OTV
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/otv.css') }}">
{% endblock %}

{% block body %}
	<div class="showWrapper background">
		<div class="otvCard">
			<h2 class="otvTitle">Détail de l'OTV #{{ otv.id }}</h2>

			{# section date création #}
			<div class="lign">
				<p class="label">OTV créée le :</p>
				<p>{{ otv.createdAt|date('d-m-Y') }}</p>
			</div>

			{# section info résident #}
			<div class="data-section">
				<h3>Demandeur</h3>
				<div class="lign">
					<p class="label">Nom :</p>
					<p>{{ otv.residents.lastname }}</p>
				</div>
				<div class="lign">
					<p class="label">Prénom :</p>
					<p>{{ otv.residents.firstname }}</p>
				</div>
				<div class="lign">
					<p class="label">Adresse :</p>
					<p>{{ otv.address.street }}</p>
				</div>
				{% if otv.address.additionnalStreetNumber is not empty or otv.address.additionalAddressInfo is not empty %}
					<div class="lign">
						<p class="label">Informations adresse :</p>
						<p>{{ otv.address.additionnalStreetNumber }}
							/
							{{ otv.address.additionalAddressInfo }}</p>
					</div>
				{% endif %}
				<div class="lign">
					<p class="label">Quartier :</p>
					<p>{{ otv.district.name }}</p>
				</div>
				<div class="lign">
					<p class="label">Téléphone(s) :</p>
					<p>
						{{ otv.mobilePhone }}
						{% if  otv.landlinePhone %}
							/
							{{ otv.landlinePhone }}</p>
					{% endif %}
				</div>
				<div class="lign">
					<p class="label">Courriel :</p>
					<p>{{ otv.email }}</p>
				</div>
			</div>

			{# section contacts d'urgence #}
			{% if otv.data["emergencyContact1"]["lastname"] or otv.data["emergencyContact2"]["lastname"] or otv.data["emergencyContact3"]["lastname"]  %}
				<div class="data-section">
					<h3>Personne(s) à contacter en cas d'urgence</h3>
					{% if otv.data["emergencyContact1"]["lastname"] %}
						<div class="lign">
							<p class="label">Personne 1 :</p>
							{% for item in otv.data["emergencyContact1"] %}
								{% if item %}
									<p>{{ item }}</p>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
					{% if otv.data["emergencyContact2"]["lastname"] %}
						<div class="lign">
							<p class="label">Personne 2 :</p>
							{% for item in otv.data["emergencyContact2"] %}
								{% if item %}
									<p>{{ item }}</p>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
					{% if otv.data["emergencyContact3"]["lastname"] %}
						<div class="lign">
							<p class="label">Personne 3 :</p>
							{% for item in otv.data["emergencyContact3"] %}
								{% if item %}
									<p>{{ item }}</p>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endif %}

			{# Section informations #}
			<div class="data-section">
				<h3>Informations</h3>
				<div class="lign">
					<p class="label">Date de début :</p>
					<p>{{ otv.startDate|date('d-m-Y')}}</p>
				</div>
				<div class="lign">
					<p class="label">Date de fin :</p>
					<p>{{ otv.endDate|date('d-m-Y') }}</p>
				</div>
				{% if otv.data["otvInfo"]["houseType"] %}
					<div class="lign">
						<p class="label">Type de logement :</p>
						<p>{{ otv.data.otvInfo.houseType }}</p>
					</div>
				{% endif %}
				{% if otv.data["authorizedPersons"] %}
					<div class="lign">
						<p class="label">Personnes autorisées :</p>
						<p>{{ otv.data.authorizedPersons }}</p>
					</div>
				{% endif %}
				{% if otv.data["car"] %}
					<div class="lign">
						<p class="label">Voiture :</p>
						<p>{{ otv.data.car }}</p>
					</div>
				{% endif %}
					<div class="lign">
						<p class="label">Alarme :</p>
						{% if otv.data["otvInfo"]["hasAlarm"] == true %}
							<p>
								oui
							</p>
						{% else %}
							<p>
								non
							</p>
						{% endif %}
					</div>
				<div class="lign">
					<p class="label">Alarme extérieure :</p>
					{% if otv.data["otvInfo"]["hasAlarmExt"] == true %}
						<p>
							oui
						</p>
					{% else %}
						<p>
							non
						</p>
					{% endif %}
				</div>
				<div class="lign">
					<p class="label">Animal :</p>
					{% if otv.data["otvInfo"]["hasAnimal"] == true %}
						<p>
							oui
						</p>
					{% else %}
						<p>
							non
						</p>
					{% endif %}
				</div>
				<div class="lign">
					<p class="label">Caméra :</p>
					{% if otv.data["otvInfo"]["hasCamera"] == true %}
						<p>
							oui
						</p>
					{% else %}
						<p>
							non
						</p>
					{% endif %}
				</div>
				{% if otv.data["otvInfo"]["blindsSchedule"] %}
					<div class="lign">
						<p class="label">Horaires des volets automatiques :</p>
						<input type="text" id="blindsSchedule" class="editable" value="{{ otv.data.otvInfo.blindsSchedule }}">
					</div>
				{% endif %}
				{% if otv.data["otvInfo"]["lightsSchedule"] %}
					<div class="lign">
						<p class="label">Horaires des éclairages :</p>
						<input type="text" id="lightsSchedule" class="editable" value="{{ otv.data.otvInfo.lightsSchedule }}">
					</div>
				{% endif %}
				{% if otv.data["otvInfo"]["additionalInfo"] %}
					<div class="lign">
						<p class="label">Autres informations :</p>
						<input type="text" id="additionalInfo" class="editable" value="{{ otv.data.otvInfo.additionalInfo }}">
					</div>
				{% endif %}
			</div>

			{# Justificatif de domicile #}
			{% if otv.pathToFile %}
				<div class="data-section">
					<h3>Justificatif de domicile</h3>
					<div class="lign">
						<p class="label">Fichier :</p>
						<p>
							<a class="light links" href="{{ path('app_file', {'id': otv.id}) }}" target="_blank">
								<i class="fa-solid fa-file-pdf"></i>
								Justificatif de domicile
							</a>
						</p>
					</div>
				</div>
			{% endif %}

			{# Commentaires #}
			{% if otv.comments %}
				<div class="data-section">
					<h3>Commentaires</h3>
					<div class="lign">
						<p>{{ otv.comments }}</p>
					</div>
				</div>
			{% endif %}

			{# Actions #}
			<div class="row align-items-center justify-content-around mt-5">
				<div class="col-auto">
					<a class="redirect" href="{{ path('app_otv_index') }}">
						<i class="fa-solid fa-arrow-left"></i>
						Retour aux OTV
					</a>
				</div>
				<div class="col-auto">
					<a class="userBtn btn btn-outline-primary" href="{{ path('app_otv_edit', {'id': otv.id}) }}">
						Modifier l'OTV
					</a>
				</div>
				<div class="col-auto">
					{{ include('otv/_delete_form.html.twig') }}
				</div>
			</div>

		</div>
	</div>


{% endblock %}
