{{ form_start(form) }}
<div class="lign">
	<p class="label">Nom</p>
	{{ form_row(form.lastname, {
		'label': false,
		'attr': {
			'id': 'lastname',
			'placeholder': 'Nom',
		}}) }}
</div>
<div class="lign">
	<p class="label">Prénom</p>
	{{ form_row(form.firstname, {
		'label': false,
		'attr': {
			'id': 'firstname',
			'placeholder': 'Prénom',
		}})	}}
</div>
<div class="lign">
	<p class="label">Courriel</p>
	{{ form_row(form.email, {
		'label': false,
		'attr': {
			'id': 'email',
			'placeholder': 'Courriel',
		}})	}}
</div>

<div class="row d-flex justify-content-end align-items-center mt-4">
	<div class="col-auto">
		<button class="userBtn btn btn-outline-primary">{{ button_label|default('Save') }}</button>
	</div>
	
</div>
{{ form_end(form) }}
